<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title> Ask and Recieve</title>
    </head>
    <body>

        <!-- Main Content -->

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Team R.A.T.S</h1>
                <p class="lead"> Ask and Recieve (demo) </p>
            </div>
        </div>

        <div class="container">
            <form method="post">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Input:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 150px" name="aar_input"></textarea>
                </div>
                <button class="btn btn-primary mb-3" type="submit" value="submit">Submit</button>
            </form>
  
            <input class="form-control" type="text" style="height:150px" placeholder="{% if output %}{{ output }} {% endif %}" readonly>
        </div>

        <div class="jumbotron jumbotron-fluid mb-0" style="height:10px;
            position:absolute; bottom:0px;width:100%;">
            <div class="container">
                <p class="lead">&copy R.A.T.S 2018</p>
            </div>
        </div>
        <!-- /END main content --> 



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
